body{
    margin: 0%;
    font-family: sans-serif;
    
}
#navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(207, 57, 57);
    position: fixed;
    border-bottom: solid;
    border-color: rgb(147, 146, 146);
}
@media screen and (max-width: 500px){
    #navbar li{
        float: none;
        width: 100%;
    }
    #navbar{
        height: 150px;
    }
}

html{
    scroll-behavior: smooth;
}
 section[id]{
    scroll-margin: 60px;
 }

#navbar li{
    display: block;
    float: right;
}

.botton{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 20px;
}

.botton:hover{
 background-color: rgba(38, 38, 130, 0.916);
}


#welcome-section{
    display: flex;
    background-color: rgb(109, 107, 107);
    height: 600px;
    font-size: 50px;
    color: white;
    text-align: center;
    text-align: center;
    flex-flow: column wrap;
    justify-content: center;
}


#projects{
    width: 100%;
    height: 600px;
    background-color: rgb(45, 45, 118);
    text-align: center;  
    padding-top: 40px;
}
#projects h1{
        text-decoration: underline;
        font-size: 40px;
        color: white;

}

#grilla{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.project-tile{
    width: 250px;
    height: 300px;
    background-color: rgb(13, 13, 61);
    margin-left: 100px;
    border-radius: 5px;
}
img{
    width: 250px;
    height: 250px;
    border-radius: 5px;
}
.project-tile a{
    text-decoration: none;   
    font-size: 25px;
    color: white;
}

#contact{
    display: flex;
    width: 100%;
    text-align: center;
    flex-flow: column wrap;
    justify-content: center;
    height: 600px;
    background-color: rgb(112, 105, 105);
}
#contact h1{
    font-size: 60px;
    color: white;
}
.contact-link{
    text-decoration: none;
    color: rgb(159, 18, 46);
    font-size: 30px;
    padding: 20px;
}
.contact-link:hover{
    color: crimson;
}
